@model int

<div class="icon-container">
    <i class="fa fa-shopping-cart fa-lg"></i>
    @if (Model > 0)
    {
        <span class="badge badge-position  rounded-pill bg-success">@Model</span>
    }
</div>